<div class="row">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand logo" routerLink="/events">Events</a>
        <a class="navbar-brand logo" routerLink="/createEvent">Create Event</a>
        <a class="navbar-brand logo" routerLink="/about">User Info</a>
        <a class="navbar-brand logo" style="float: right;" routerLink="/login">Logout</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
      </div>
    </div>
  </nav>
</div>